.course_root {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.course_card {
    margin: 20px;
    box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.2);
}

.course_parallax {
    /* The image used */
    background-image: url("../../assets/images/about.jpg");
    height: 40vh;
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.course_parallax h1 {
    position: relative;
    top: 40%;
    left: 20%;
    font-family: 'Oswald', sans-serif;  
    font-size: 300%;
    width: fit-content;
    color: var(--x-dark-color);
}