@import url("../../assets/theme/theme.css");

.taxLogo {
    height: 10vh;
    min-height: 40px;
    padding: 5px 0px 5px 10px;
    filter: brightness(0) invert(1) sepia(0) saturate(10000%) hue-rotate(0deg);
}

.headerNav {
    height: calc(10vh + 10px);
    min-height: 50px;
    width: 100%;
    background-image: linear-gradient(to top left, var(--x-dark-color), var(--x-dark-color));

    display: flex;
    flex-direction: row;

    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
    z-index: 1100;
    position: sticky;
    top: 0;
}

.navbtn {
    width: 9%;
    height: 40px;
    color: var(--dark-color);
    background-color: var(--normal-color);
    border: 2px solid var(--x-dark-color);
    font-size: large;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-right: 5px;
}

.navbtn:hover {
    position: relative;
    width: 9%;
    height: 40px;
    background-color: var(--normal-color);
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
    font-weight: 700;
}
