.contact_root {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.contact_parallax {
    /* The image used */
    background-image: url("../../assets/images/contact.jpg");
    height: 40vh;
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_parallax h1 {
    position: relative;
    top: 40%;
    left: 20%;
    font-family: 'Oswald', sans-serif;  
    font-size: 300%;
    width: fit-content;
    color: var(--x-dark-color);
}

.contact_enq_form {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.contact_center{
    width: 90%;
    margin: auto;
}

.contact_center_detail {
    text-align: center;
}

.contact_center_detail iframe {
    width: 100%;
    height: 300px;
}